/* Body styling */
body {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
  }
/* Header styling */
h1 {
  text-align: center;
  overflow: hidden;
  background-color:#000;
  padding: 20px 10px;
}
h1 {
  position: relative;
  padding: 12px;
  text-decoration: none;
  font-size: 24px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color:#000;
  color: silver;

}
  /* Navigation bar styling */
.navbar {
    text-align: center;
    font-size: large;
    font-weight: 700;
    background-color:#000;
    color: #f1f1f1;
}
.navbar, ul li {
    float: none;
}
   
