@media(max-width: 639px) {
}
.selector-for-some-widget {
  box-sizing: content-box;
}
/* Body styling */
* {
  margin:0;
  padding:0;
  border:0;
}
body {
  font-family: Roboto, sans-serif;
}
@media screen and (max-width: 943px){
}
/* Navigation bar styling */
.navbar {
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.navbar, ul li {
  float: none;
}
/* END OF PAGE Footer */
.footer {
  background: color #f1f1f1;
  text-align: center;  
  padding: 1em;
  margin-top: 20px;
  margin: 0 auto;
  position: relative;
}
.footer, p {
  text-align: center;
}